# discord bot token.
TOKEN=""
# api key for ai to use, if ai module is enabled
# atleast one is required, for model to work properly
# provide multiple to cycle through each token for every api call
API_KEY_AI_1=""
API_KEY_AI_2=""
API_KEY_AI_3=""
API_KEY_AI_4=""
API_KEY_AI_5=""
