# discord bot token.
TOKEN=""
# api keys for ai to use, if ai module is enabled
# atleast one is required, for model to work properly
# provide multiple to cycle through each token for every api call
API_KEYS_AI="1,2,3,4,5"
AI_ENDPOINT=""
AI_MODEL=""
